body {
  margin: 0;
  background-color: #e2e0dd; /* fondo naranja oscuro */
  font-family: sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.tarjetas-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.tarjetas-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; /* separa visualmente de ComponenteDos */
}

.app-container {
  padding: 20px;
  background-color: #fdf4e3; /* o el color que estés usando */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* separa arriba y abajo */
  height: 100vh; /* ocupa toda la altura de la ventana */
}

.componente-dos {
  margin-top: auto; /* empuja hacia abajo */
}
